@use '../globals.scss' as *;

// Margins
@for $m from 0 through 11 {

    .m-#{$m} {
        margin: 1rem * $m !important;
    };

    .my-#{$m} {
        margin-top: 1rem * $m !important;
        margin-bottom: 1rem * $m !important;
    };

    .mb-#{$m} {
        margin-bottom: 1rem * $m !important;
    };

    .mt-#{$m} {
        margin-top: 1rem * $m !important;
    };

    .mr-#{$m} {
        margin-right: 1rem * $m !important;
    };

    .ml-#{$m} {
        margin-left: 1rem * $m !important;
    };

    .mx-#{$m} {
        margin-left: 1rem * $m !important;
        margin-right: 1rem * $m !important;
    }

};

.m-auto {
    margin:auto;
}

// Padding
@for $p from 0 through 11 {

    .p-#{$p} {
        padding: 1rem * $p !important;
    };

    .py-#{$p} {
        padding-top: 1rem * $p !important;
        padding-bottom: 1rem * $p !important;
    };

    .px-#{$p} {
        padding-left: 1rem * $p !important;
        padding-right: 1rem * $p !important;
    }

    .pt-#{$p} {
        padding-top: 1rem * $p !important;
    }

    .pb-#{$p} {
        padding-bottom: 1rem * $p !important;
    }

    .pr-#{$p} {
        padding-left: 1rem * $p !important;
    }

    .pl-#{$p} {
        padding-right: 1rem * $p !important;
    }

};

// Grid System
.d-flex {
    display: flex;
    flex-direction: row;
};

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

@for $col from 1 through 13 {
    .col-#{$col} {
        width:100%;
        max-width: calc(100% / (12/$col));
        padding: $base;
    }
};

// Alignment

$align-options: start,center,end,self-start,self-end;
@each $align in $align-options {
    .align-content-#{$align} {
        align-content: $align;
    }
};

$justify-options: start,end,center,left,right,space-between,space-around,space-evenly;
@each $justify in $justify-options {
    .justify-content-#{$justify} {
        justify-content: $justify;
    }
};

$text-align-options: left,center,right,justify;
@each $text-align in $text-align-options {
    .text-align-#{$text-align} {
        text-align: $text-align;
    }
};

// Position

.position-absolute {
    position:absolute;
}

// Media Queries

@each $name, $value in $breakpoints {

    @for $col from 1 through 13 {
        @media screen and (min-width: $value) {
            .col-#{$name}-#{$col} {
                width:100%;
                max-width: calc(100% / (12/$col));
                padding: $base;
            }
        }
    };

    @each $justify in $justify-options {
        @media screen and (min-width: $value) {
            .justify-content-#{$name}-#{$justify} {
                justify-content: $justify;
            }
        }
    };

    @each $text-align in $text-align-options {
        @media screen and (min-width: $value) {
            .text-align-#{$name}-#{$text-align} {
                text-align: $text-align;
            }
        }
    };

    @each $align in $align-options {
        @media screen and (min-width: $value) {
            .align-content-#{$name}-#{$align} {
                align-content: $align;
            }
        }
    };

    @media screen and (min-width: $value) {
        .flex-#{$name}-column {
            flex-direction: column;
        }
        .flex-#{$name}-row {
            flex-direction: row;
        }
    }
    

};