* {
  box-sizing: border-box;
}

.w-1 {
  width: 1rem;
}

.hover-w-1:hover {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}

.hover-w-2:hover {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.hover-w-3:hover {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

.hover-w-4:hover {
  width: 4rem;
}

.w-5 {
  width: 5rem;
}

.hover-w-5:hover {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

.hover-w-6:hover {
  width: 6rem;
}

.w-7 {
  width: 7rem;
}

.hover-w-7:hover {
  width: 7rem;
}

.w-8 {
  width: 8rem;
}

.hover-w-8:hover {
  width: 8rem;
}

.w-9 {
  width: 9rem;
}

.hover-w-9:hover {
  width: 9rem;
}

.h-1 {
  height: 1rem;
}

.hover-h-1:hover {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.hover-h-2:hover {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.hover-h-3:hover {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.hover-h-4:hover {
  height: 4rem;
}

.h-5 {
  height: 5rem;
}

.hover-h-5:hover {
  height: 5rem;
}

.h-6 {
  height: 6rem;
}

.hover-h-6:hover {
  height: 6rem;
}

.h-7 {
  height: 7rem;
}

.hover-h-7:hover {
  height: 7rem;
}

.h-8 {
  height: 8rem;
}

.hover-h-8:hover {
  height: 8rem;
}

.h-9 {
  height: 9rem;
}

.hover-h-9:hover {
  height: 9rem;
}

.w-10 {
  width: 10%;
}

.hover-w-10:hover {
  width: 10%;
}

.w-11 {
  width: 11%;
}

.hover-w-11:hover {
  width: 11%;
}

.w-12 {
  width: 12%;
}

.hover-w-12:hover {
  width: 12%;
}

.w-13 {
  width: 13%;
}

.hover-w-13:hover {
  width: 13%;
}

.w-14 {
  width: 14%;
}

.hover-w-14:hover {
  width: 14%;
}

.w-15 {
  width: 15%;
}

.hover-w-15:hover {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.hover-w-16:hover {
  width: 16%;
}

.w-17 {
  width: 17%;
}

.hover-w-17:hover {
  width: 17%;
}

.w-18 {
  width: 18%;
}

.hover-w-18:hover {
  width: 18%;
}

.w-19 {
  width: 19%;
}

.hover-w-19:hover {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.hover-w-20:hover {
  width: 20%;
}

.w-21 {
  width: 21%;
}

.hover-w-21:hover {
  width: 21%;
}

.w-22 {
  width: 22%;
}

.hover-w-22:hover {
  width: 22%;
}

.w-23 {
  width: 23%;
}

.hover-w-23:hover {
  width: 23%;
}

.w-24 {
  width: 24%;
}

.hover-w-24:hover {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.hover-w-25:hover {
  width: 25%;
}

.w-26 {
  width: 26%;
}

.hover-w-26:hover {
  width: 26%;
}

.w-27 {
  width: 27%;
}

.hover-w-27:hover {
  width: 27%;
}

.w-28 {
  width: 28%;
}

.hover-w-28:hover {
  width: 28%;
}

.w-29 {
  width: 29%;
}

.hover-w-29:hover {
  width: 29%;
}

.w-30 {
  width: 30%;
}

.hover-w-30:hover {
  width: 30%;
}

.w-31 {
  width: 31%;
}

.hover-w-31:hover {
  width: 31%;
}

.w-32 {
  width: 32%;
}

.hover-w-32:hover {
  width: 32%;
}

.w-33 {
  width: 33%;
}

.hover-w-33:hover {
  width: 33%;
}

.w-34 {
  width: 34%;
}

.hover-w-34:hover {
  width: 34%;
}

.w-35 {
  width: 35%;
}

.hover-w-35:hover {
  width: 35%;
}

.w-36 {
  width: 36%;
}

.hover-w-36:hover {
  width: 36%;
}

.w-37 {
  width: 37%;
}

.hover-w-37:hover {
  width: 37%;
}

.w-38 {
  width: 38%;
}

.hover-w-38:hover {
  width: 38%;
}

.w-39 {
  width: 39%;
}

.hover-w-39:hover {
  width: 39%;
}

.w-40 {
  width: 40%;
}

.hover-w-40:hover {
  width: 40%;
}

.w-41 {
  width: 41%;
}

.hover-w-41:hover {
  width: 41%;
}

.w-42 {
  width: 42%;
}

.hover-w-42:hover {
  width: 42%;
}

.w-43 {
  width: 43%;
}

.hover-w-43:hover {
  width: 43%;
}

.w-44 {
  width: 44%;
}

.hover-w-44:hover {
  width: 44%;
}

.w-45 {
  width: 45%;
}

.hover-w-45:hover {
  width: 45%;
}

.w-46 {
  width: 46%;
}

.hover-w-46:hover {
  width: 46%;
}

.w-47 {
  width: 47%;
}

.hover-w-47:hover {
  width: 47%;
}

.w-48 {
  width: 48%;
}

.hover-w-48:hover {
  width: 48%;
}

.w-49 {
  width: 49%;
}

.hover-w-49:hover {
  width: 49%;
}

.w-50 {
  width: 50%;
}

.hover-w-50:hover {
  width: 50%;
}

.w-51 {
  width: 51%;
}

.hover-w-51:hover {
  width: 51%;
}

.w-52 {
  width: 52%;
}

.hover-w-52:hover {
  width: 52%;
}

.w-53 {
  width: 53%;
}

.hover-w-53:hover {
  width: 53%;
}

.w-54 {
  width: 54%;
}

.hover-w-54:hover {
  width: 54%;
}

.w-55 {
  width: 55%;
}

.hover-w-55:hover {
  width: 55%;
}

.w-56 {
  width: 56%;
}

.hover-w-56:hover {
  width: 56%;
}

.w-57 {
  width: 57%;
}

.hover-w-57:hover {
  width: 57%;
}

.w-58 {
  width: 58%;
}

.hover-w-58:hover {
  width: 58%;
}

.w-59 {
  width: 59%;
}

.hover-w-59:hover {
  width: 59%;
}

.w-60 {
  width: 60%;
}

.hover-w-60:hover {
  width: 60%;
}

.w-61 {
  width: 61%;
}

.hover-w-61:hover {
  width: 61%;
}

.w-62 {
  width: 62%;
}

.hover-w-62:hover {
  width: 62%;
}

.w-63 {
  width: 63%;
}

.hover-w-63:hover {
  width: 63%;
}

.w-64 {
  width: 64%;
}

.hover-w-64:hover {
  width: 64%;
}

.w-65 {
  width: 65%;
}

.hover-w-65:hover {
  width: 65%;
}

.w-66 {
  width: 66%;
}

.hover-w-66:hover {
  width: 66%;
}

.w-67 {
  width: 67%;
}

.hover-w-67:hover {
  width: 67%;
}

.w-68 {
  width: 68%;
}

.hover-w-68:hover {
  width: 68%;
}

.w-69 {
  width: 69%;
}

.hover-w-69:hover {
  width: 69%;
}

.w-70 {
  width: 70%;
}

.hover-w-70:hover {
  width: 70%;
}

.w-71 {
  width: 71%;
}

.hover-w-71:hover {
  width: 71%;
}

.w-72 {
  width: 72%;
}

.hover-w-72:hover {
  width: 72%;
}

.w-73 {
  width: 73%;
}

.hover-w-73:hover {
  width: 73%;
}

.w-74 {
  width: 74%;
}

.hover-w-74:hover {
  width: 74%;
}

.w-75 {
  width: 75%;
}

.hover-w-75:hover {
  width: 75%;
}

.w-76 {
  width: 76%;
}

.hover-w-76:hover {
  width: 76%;
}

.w-77 {
  width: 77%;
}

.hover-w-77:hover {
  width: 77%;
}

.w-78 {
  width: 78%;
}

.hover-w-78:hover {
  width: 78%;
}

.w-79 {
  width: 79%;
}

.hover-w-79:hover {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.hover-w-80:hover {
  width: 80%;
}

.w-81 {
  width: 81%;
}

.hover-w-81:hover {
  width: 81%;
}

.w-82 {
  width: 82%;
}

.hover-w-82:hover {
  width: 82%;
}

.w-83 {
  width: 83%;
}

.hover-w-83:hover {
  width: 83%;
}

.w-84 {
  width: 84%;
}

.hover-w-84:hover {
  width: 84%;
}

.w-85 {
  width: 85%;
}

.hover-w-85:hover {
  width: 85%;
}

.w-86 {
  width: 86%;
}

.hover-w-86:hover {
  width: 86%;
}

.w-87 {
  width: 87%;
}

.hover-w-87:hover {
  width: 87%;
}

.w-88 {
  width: 88%;
}

.hover-w-88:hover {
  width: 88%;
}

.w-89 {
  width: 89%;
}

.hover-w-89:hover {
  width: 89%;
}

.w-90 {
  width: 90%;
}

.hover-w-90:hover {
  width: 90%;
}

.w-91 {
  width: 91%;
}

.hover-w-91:hover {
  width: 91%;
}

.w-92 {
  width: 92%;
}

.hover-w-92:hover {
  width: 92%;
}

.w-93 {
  width: 93%;
}

.hover-w-93:hover {
  width: 93%;
}

.w-94 {
  width: 94%;
}

.hover-w-94:hover {
  width: 94%;
}

.w-95 {
  width: 95%;
}

.hover-w-95:hover {
  width: 95%;
}

.w-96 {
  width: 96%;
}

.hover-w-96:hover {
  width: 96%;
}

.w-97 {
  width: 97%;
}

.hover-w-97:hover {
  width: 97%;
}

.w-98 {
  width: 98%;
}

.hover-w-98:hover {
  width: 98%;
}

.w-99 {
  width: 99%;
}

.hover-w-99:hover {
  width: 99%;
}

.w-100 {
  width: 100%;
}

.hover-w-100:hover {
  width: 100%;
}

.h-10 {
  height: 10%;
}

.hover-h-10:hover {
  height: 10%;
}

.h-11 {
  height: 11%;
}

.hover-h-11:hover {
  height: 11%;
}

.h-12 {
  height: 12%;
}

.hover-h-12:hover {
  height: 12%;
}

.h-13 {
  height: 13%;
}

.hover-h-13:hover {
  height: 13%;
}

.h-14 {
  height: 14%;
}

.hover-h-14:hover {
  height: 14%;
}

.h-15 {
  height: 15%;
}

.hover-h-15:hover {
  height: 15%;
}

.h-16 {
  height: 16%;
}

.hover-h-16:hover {
  height: 16%;
}

.h-17 {
  height: 17%;
}

.hover-h-17:hover {
  height: 17%;
}

.h-18 {
  height: 18%;
}

.hover-h-18:hover {
  height: 18%;
}

.h-19 {
  height: 19%;
}

.hover-h-19:hover {
  height: 19%;
}

.h-20 {
  height: 20%;
}

.hover-h-20:hover {
  height: 20%;
}

.h-21 {
  height: 21%;
}

.hover-h-21:hover {
  height: 21%;
}

.h-22 {
  height: 22%;
}

.hover-h-22:hover {
  height: 22%;
}

.h-23 {
  height: 23%;
}

.hover-h-23:hover {
  height: 23%;
}

.h-24 {
  height: 24%;
}

.hover-h-24:hover {
  height: 24%;
}

.h-25 {
  height: 25%;
}

.hover-h-25:hover {
  height: 25%;
}

.h-26 {
  height: 26%;
}

.hover-h-26:hover {
  height: 26%;
}

.h-27 {
  height: 27%;
}

.hover-h-27:hover {
  height: 27%;
}

.h-28 {
  height: 28%;
}

.hover-h-28:hover {
  height: 28%;
}

.h-29 {
  height: 29%;
}

.hover-h-29:hover {
  height: 29%;
}

.h-30 {
  height: 30%;
}

.hover-h-30:hover {
  height: 30%;
}

.h-31 {
  height: 31%;
}

.hover-h-31:hover {
  height: 31%;
}

.h-32 {
  height: 32%;
}

.hover-h-32:hover {
  height: 32%;
}

.h-33 {
  height: 33%;
}

.hover-h-33:hover {
  height: 33%;
}

.h-34 {
  height: 34%;
}

.hover-h-34:hover {
  height: 34%;
}

.h-35 {
  height: 35%;
}

.hover-h-35:hover {
  height: 35%;
}

.h-36 {
  height: 36%;
}

.hover-h-36:hover {
  height: 36%;
}

.h-37 {
  height: 37%;
}

.hover-h-37:hover {
  height: 37%;
}

.h-38 {
  height: 38%;
}

.hover-h-38:hover {
  height: 38%;
}

.h-39 {
  height: 39%;
}

.hover-h-39:hover {
  height: 39%;
}

.h-40 {
  height: 40%;
}

.hover-h-40:hover {
  height: 40%;
}

.h-41 {
  height: 41%;
}

.hover-h-41:hover {
  height: 41%;
}

.h-42 {
  height: 42%;
}

.hover-h-42:hover {
  height: 42%;
}

.h-43 {
  height: 43%;
}

.hover-h-43:hover {
  height: 43%;
}

.h-44 {
  height: 44%;
}

.hover-h-44:hover {
  height: 44%;
}

.h-45 {
  height: 45%;
}

.hover-h-45:hover {
  height: 45%;
}

.h-46 {
  height: 46%;
}

.hover-h-46:hover {
  height: 46%;
}

.h-47 {
  height: 47%;
}

.hover-h-47:hover {
  height: 47%;
}

.h-48 {
  height: 48%;
}

.hover-h-48:hover {
  height: 48%;
}

.h-49 {
  height: 49%;
}

.hover-h-49:hover {
  height: 49%;
}

.h-50 {
  height: 50%;
}

.hover-h-50:hover {
  height: 50%;
}

.h-51 {
  height: 51%;
}

.hover-h-51:hover {
  height: 51%;
}

.h-52 {
  height: 52%;
}

.hover-h-52:hover {
  height: 52%;
}

.h-53 {
  height: 53%;
}

.hover-h-53:hover {
  height: 53%;
}

.h-54 {
  height: 54%;
}

.hover-h-54:hover {
  height: 54%;
}

.h-55 {
  height: 55%;
}

.hover-h-55:hover {
  height: 55%;
}

.h-56 {
  height: 56%;
}

.hover-h-56:hover {
  height: 56%;
}

.h-57 {
  height: 57%;
}

.hover-h-57:hover {
  height: 57%;
}

.h-58 {
  height: 58%;
}

.hover-h-58:hover {
  height: 58%;
}

.h-59 {
  height: 59%;
}

.hover-h-59:hover {
  height: 59%;
}

.h-60 {
  height: 60%;
}

.hover-h-60:hover {
  height: 60%;
}

.h-61 {
  height: 61%;
}

.hover-h-61:hover {
  height: 61%;
}

.h-62 {
  height: 62%;
}

.hover-h-62:hover {
  height: 62%;
}

.h-63 {
  height: 63%;
}

.hover-h-63:hover {
  height: 63%;
}

.h-64 {
  height: 64%;
}

.hover-h-64:hover {
  height: 64%;
}

.h-65 {
  height: 65%;
}

.hover-h-65:hover {
  height: 65%;
}

.h-66 {
  height: 66%;
}

.hover-h-66:hover {
  height: 66%;
}

.h-67 {
  height: 67%;
}

.hover-h-67:hover {
  height: 67%;
}

.h-68 {
  height: 68%;
}

.hover-h-68:hover {
  height: 68%;
}

.h-69 {
  height: 69%;
}

.hover-h-69:hover {
  height: 69%;
}

.h-70 {
  height: 70%;
}

.hover-h-70:hover {
  height: 70%;
}

.h-71 {
  height: 71%;
}

.hover-h-71:hover {
  height: 71%;
}

.h-72 {
  height: 72%;
}

.hover-h-72:hover {
  height: 72%;
}

.h-73 {
  height: 73%;
}

.hover-h-73:hover {
  height: 73%;
}

.h-74 {
  height: 74%;
}

.hover-h-74:hover {
  height: 74%;
}

.h-75 {
  height: 75%;
}

.hover-h-75:hover {
  height: 75%;
}

.h-76 {
  height: 76%;
}

.hover-h-76:hover {
  height: 76%;
}

.h-77 {
  height: 77%;
}

.hover-h-77:hover {
  height: 77%;
}

.h-78 {
  height: 78%;
}

.hover-h-78:hover {
  height: 78%;
}

.h-79 {
  height: 79%;
}

.hover-h-79:hover {
  height: 79%;
}

.h-80 {
  height: 80%;
}

.hover-h-80:hover {
  height: 80%;
}

.h-81 {
  height: 81%;
}

.hover-h-81:hover {
  height: 81%;
}

.h-82 {
  height: 82%;
}

.hover-h-82:hover {
  height: 82%;
}

.h-83 {
  height: 83%;
}

.hover-h-83:hover {
  height: 83%;
}

.h-84 {
  height: 84%;
}

.hover-h-84:hover {
  height: 84%;
}

.h-85 {
  height: 85%;
}

.hover-h-85:hover {
  height: 85%;
}

.h-86 {
  height: 86%;
}

.hover-h-86:hover {
  height: 86%;
}

.h-87 {
  height: 87%;
}

.hover-h-87:hover {
  height: 87%;
}

.h-88 {
  height: 88%;
}

.hover-h-88:hover {
  height: 88%;
}

.h-89 {
  height: 89%;
}

.hover-h-89:hover {
  height: 89%;
}

.h-90 {
  height: 90%;
}

.hover-h-90:hover {
  height: 90%;
}

.h-91 {
  height: 91%;
}

.hover-h-91:hover {
  height: 91%;
}

.h-92 {
  height: 92%;
}

.hover-h-92:hover {
  height: 92%;
}

.h-93 {
  height: 93%;
}

.hover-h-93:hover {
  height: 93%;
}

.h-94 {
  height: 94%;
}

.hover-h-94:hover {
  height: 94%;
}

.h-95 {
  height: 95%;
}

.hover-h-95:hover {
  height: 95%;
}

.h-96 {
  height: 96%;
}

.hover-h-96:hover {
  height: 96%;
}

.h-97 {
  height: 97%;
}

.hover-h-97:hover {
  height: 97%;
}

.h-98 {
  height: 98%;
}

.hover-h-98:hover {
  height: 98%;
}

.h-99 {
  height: 99%;
}

.hover-h-99:hover {
  height: 99%;
}

.h-100 {
  height: 100%;
}

.hover-h-100:hover {
  height: 100%;
}

.vh-1 {
  height: 1vh;
}

.vh-2 {
  height: 2vh;
}

.vh-3 {
  height: 3vh;
}

.vh-4 {
  height: 4vh;
}

.vh-5 {
  height: 5vh;
}

.vh-6 {
  height: 6vh;
}

.vh-7 {
  height: 7vh;
}

.vh-8 {
  height: 8vh;
}

.vh-9 {
  height: 9vh;
}

.vh-10 {
  height: 10vh;
}

.vh-11 {
  height: 11vh;
}

.vh-12 {
  height: 12vh;
}

.vh-13 {
  height: 13vh;
}

.vh-14 {
  height: 14vh;
}

.vh-15 {
  height: 15vh;
}

.vh-16 {
  height: 16vh;
}

.vh-17 {
  height: 17vh;
}

.vh-18 {
  height: 18vh;
}

.vh-19 {
  height: 19vh;
}

.vh-20 {
  height: 20vh;
}

.vh-21 {
  height: 21vh;
}

.vh-22 {
  height: 22vh;
}

.vh-23 {
  height: 23vh;
}

.vh-24 {
  height: 24vh;
}

.vh-25 {
  height: 25vh;
}

.vh-26 {
  height: 26vh;
}

.vh-27 {
  height: 27vh;
}

.vh-28 {
  height: 28vh;
}

.vh-29 {
  height: 29vh;
}

.vh-30 {
  height: 30vh;
}

.vh-31 {
  height: 31vh;
}

.vh-32 {
  height: 32vh;
}

.vh-33 {
  height: 33vh;
}

.vh-34 {
  height: 34vh;
}

.vh-35 {
  height: 35vh;
}

.vh-36 {
  height: 36vh;
}

.vh-37 {
  height: 37vh;
}

.vh-38 {
  height: 38vh;
}

.vh-39 {
  height: 39vh;
}

.vh-40 {
  height: 40vh;
}

.vh-41 {
  height: 41vh;
}

.vh-42 {
  height: 42vh;
}

.vh-43 {
  height: 43vh;
}

.vh-44 {
  height: 44vh;
}

.vh-45 {
  height: 45vh;
}

.vh-46 {
  height: 46vh;
}

.vh-47 {
  height: 47vh;
}

.vh-48 {
  height: 48vh;
}

.vh-49 {
  height: 49vh;
}

.vh-50 {
  height: 50vh;
}

.vh-51 {
  height: 51vh;
}

.vh-52 {
  height: 52vh;
}

.vh-53 {
  height: 53vh;
}

.vh-54 {
  height: 54vh;
}

.vh-55 {
  height: 55vh;
}

.vh-56 {
  height: 56vh;
}

.vh-57 {
  height: 57vh;
}

.vh-58 {
  height: 58vh;
}

.vh-59 {
  height: 59vh;
}

.vh-60 {
  height: 60vh;
}

.vh-61 {
  height: 61vh;
}

.vh-62 {
  height: 62vh;
}

.vh-63 {
  height: 63vh;
}

.vh-64 {
  height: 64vh;
}

.vh-65 {
  height: 65vh;
}

.vh-66 {
  height: 66vh;
}

.vh-67 {
  height: 67vh;
}

.vh-68 {
  height: 68vh;
}

.vh-69 {
  height: 69vh;
}

.vh-70 {
  height: 70vh;
}

.vh-71 {
  height: 71vh;
}

.vh-72 {
  height: 72vh;
}

.vh-73 {
  height: 73vh;
}

.vh-74 {
  height: 74vh;
}

.vh-75 {
  height: 75vh;
}

.vh-76 {
  height: 76vh;
}

.vh-77 {
  height: 77vh;
}

.vh-78 {
  height: 78vh;
}

.vh-79 {
  height: 79vh;
}

.vh-80 {
  height: 80vh;
}

.vh-81 {
  height: 81vh;
}

.vh-82 {
  height: 82vh;
}

.vh-83 {
  height: 83vh;
}

.vh-84 {
  height: 84vh;
}

.vh-85 {
  height: 85vh;
}

.vh-86 {
  height: 86vh;
}

.vh-87 {
  height: 87vh;
}

.vh-88 {
  height: 88vh;
}

.vh-89 {
  height: 89vh;
}

.vh-90 {
  height: 90vh;
}

.vh-91 {
  height: 91vh;
}

.vh-92 {
  height: 92vh;
}

.vh-93 {
  height: 93vh;
}

.vh-94 {
  height: 94vh;
}

.vh-95 {
  height: 95vh;
}

.vh-96 {
  height: 96vh;
}

.vh-97 {
  height: 97vh;
}

.vh-98 {
  height: 98vh;
}

.vh-99 {
  height: 99vh;
}

.vh-100 {
  height: 100vh;
}

.border-1 {
  border: 1px solid;
}

.border-top-1 {
  border-top: 1px solid;
}

.border-bottom-1 {
  border-bottom: 1px solid;
}

.border-left-1 {
  border-left: 1px solid;
}

.border-right-1 {
  border-right: 1px solid;
}

.border-2 {
  border: 2px solid;
}

.border-top-2 {
  border-top: 2px solid;
}

.border-bottom-2 {
  border-bottom: 2px solid;
}

.border-left-2 {
  border-left: 2px solid;
}

.border-right-2 {
  border-right: 2px solid;
}

.border-3 {
  border: 3px solid;
}

.border-top-3 {
  border-top: 3px solid;
}

.border-bottom-3 {
  border-bottom: 3px solid;
}

.border-left-3 {
  border-left: 3px solid;
}

.border-right-3 {
  border-right: 3px solid;
}

.border-4 {
  border: 4px solid;
}

.border-top-4 {
  border-top: 4px solid;
}

.border-bottom-4 {
  border-bottom: 4px solid;
}

.border-left-4 {
  border-left: 4px solid;
}

.border-right-4 {
  border-right: 4px solid;
}

.border-5 {
  border: 5px solid;
}

.border-top-5 {
  border-top: 5px solid;
}

.border-bottom-5 {
  border-bottom: 5px solid;
}

.border-left-5 {
  border-left: 5px solid;
}

.border-right-5 {
  border-right: 5px solid;
}

.border-6 {
  border: 6px solid;
}

.border-top-6 {
  border-top: 6px solid;
}

.border-bottom-6 {
  border-bottom: 6px solid;
}

.border-left-6 {
  border-left: 6px solid;
}

.border-right-6 {
  border-right: 6px solid;
}

.border-7 {
  border: 7px solid;
}

.border-top-7 {
  border-top: 7px solid;
}

.border-bottom-7 {
  border-bottom: 7px solid;
}

.border-left-7 {
  border-left: 7px solid;
}

.border-right-7 {
  border-right: 7px solid;
}

.border-8 {
  border: 8px solid;
}

.border-top-8 {
  border-top: 8px solid;
}

.border-bottom-8 {
  border-bottom: 8px solid;
}

.border-left-8 {
  border-left: 8px solid;
}

.border-right-8 {
  border-right: 8px solid;
}

.border-9 {
  border: 9px solid;
}

.border-top-9 {
  border-top: 9px solid;
}

.border-bottom-9 {
  border-bottom: 9px solid;
}

.border-left-9 {
  border-left: 9px solid;
}

.border-right-9 {
  border-right: 9px solid;
}

.border-radius-1 {
  border-radius: 0.5rem;
}

.border-radius-2 {
  border-radius: 1rem;
}

.border-radius-3 {
  border-radius: 1.5rem;
}

.border-radius-4 {
  border-radius: 2rem;
}

.border-radius-5 {
  border-radius: 2.5rem;
}

.border-radius-6 {
  border-radius: 3rem;
}

.border-radius-7 {
  border-radius: 3.5rem;
}

.border-radius-8 {
  border-radius: 4rem;
}

.border-radius-9 {
  border-radius: 4.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}

@media screen and (max-width: 300px) {
  .w-xs-1 {
    width: 1%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-2 {
    width: 2%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-3 {
    width: 3%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-4 {
    width: 4%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-5 {
    width: 5%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-6 {
    width: 6%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-7 {
    width: 7%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-8 {
    width: 8%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-9 {
    width: 9%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-10 {
    width: 10%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-11 {
    width: 11%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-12 {
    width: 12%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-13 {
    width: 13%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-14 {
    width: 14%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-15 {
    width: 15%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-16 {
    width: 16%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-17 {
    width: 17%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-18 {
    width: 18%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-19 {
    width: 19%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-20 {
    width: 20%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-21 {
    width: 21%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-22 {
    width: 22%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-23 {
    width: 23%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-24 {
    width: 24%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-25 {
    width: 25%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-26 {
    width: 26%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-27 {
    width: 27%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-28 {
    width: 28%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-29 {
    width: 29%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-30 {
    width: 30%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-31 {
    width: 31%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-32 {
    width: 32%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-33 {
    width: 33%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-34 {
    width: 34%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-35 {
    width: 35%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-36 {
    width: 36%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-37 {
    width: 37%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-38 {
    width: 38%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-39 {
    width: 39%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-40 {
    width: 40%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-41 {
    width: 41%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-42 {
    width: 42%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-43 {
    width: 43%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-44 {
    width: 44%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-45 {
    width: 45%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-46 {
    width: 46%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-47 {
    width: 47%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-48 {
    width: 48%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-49 {
    width: 49%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-50 {
    width: 50%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-51 {
    width: 51%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-52 {
    width: 52%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-53 {
    width: 53%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-54 {
    width: 54%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-55 {
    width: 55%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-56 {
    width: 56%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-57 {
    width: 57%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-58 {
    width: 58%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-59 {
    width: 59%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-60 {
    width: 60%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-61 {
    width: 61%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-62 {
    width: 62%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-63 {
    width: 63%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-64 {
    width: 64%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-65 {
    width: 65%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-66 {
    width: 66%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-67 {
    width: 67%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-68 {
    width: 68%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-69 {
    width: 69%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-70 {
    width: 70%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-71 {
    width: 71%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-72 {
    width: 72%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-73 {
    width: 73%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-74 {
    width: 74%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-75 {
    width: 75%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-76 {
    width: 76%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-77 {
    width: 77%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-78 {
    width: 78%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-79 {
    width: 79%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-80 {
    width: 80%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-81 {
    width: 81%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-82 {
    width: 82%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-83 {
    width: 83%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-84 {
    width: 84%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-85 {
    width: 85%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-86 {
    width: 86%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-87 {
    width: 87%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-88 {
    width: 88%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-89 {
    width: 89%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-90 {
    width: 90%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-91 {
    width: 91%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-92 {
    width: 92%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-93 {
    width: 93%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-94 {
    width: 94%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-95 {
    width: 95%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-96 {
    width: 96%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-97 {
    width: 97%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-98 {
    width: 98%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-99 {
    width: 99%;
  }
}
@media screen and (max-width: 300px) {
  .w-xs-100 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-1 {
    width: 1%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-2 {
    width: 2%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-3 {
    width: 3%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-4 {
    width: 4%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-5 {
    width: 5%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-6 {
    width: 6%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-7 {
    width: 7%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-8 {
    width: 8%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-9 {
    width: 9%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-10 {
    width: 10%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-11 {
    width: 11%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-12 {
    width: 12%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-13 {
    width: 13%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-14 {
    width: 14%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-15 {
    width: 15%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-16 {
    width: 16%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-17 {
    width: 17%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-18 {
    width: 18%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-19 {
    width: 19%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-20 {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-21 {
    width: 21%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-22 {
    width: 22%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-23 {
    width: 23%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-24 {
    width: 24%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-25 {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-26 {
    width: 26%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-27 {
    width: 27%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-28 {
    width: 28%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-29 {
    width: 29%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-30 {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-31 {
    width: 31%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-32 {
    width: 32%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-33 {
    width: 33%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-34 {
    width: 34%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-35 {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-36 {
    width: 36%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-37 {
    width: 37%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-38 {
    width: 38%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-39 {
    width: 39%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-40 {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-41 {
    width: 41%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-42 {
    width: 42%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-43 {
    width: 43%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-44 {
    width: 44%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-45 {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-46 {
    width: 46%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-47 {
    width: 47%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-48 {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-49 {
    width: 49%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-50 {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-51 {
    width: 51%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-52 {
    width: 52%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-53 {
    width: 53%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-54 {
    width: 54%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-55 {
    width: 55%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-56 {
    width: 56%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-57 {
    width: 57%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-58 {
    width: 58%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-59 {
    width: 59%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-60 {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-61 {
    width: 61%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-62 {
    width: 62%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-63 {
    width: 63%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-64 {
    width: 64%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-65 {
    width: 65%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-66 {
    width: 66%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-67 {
    width: 67%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-68 {
    width: 68%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-69 {
    width: 69%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-70 {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-71 {
    width: 71%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-72 {
    width: 72%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-73 {
    width: 73%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-74 {
    width: 74%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-75 {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-76 {
    width: 76%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-77 {
    width: 77%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-78 {
    width: 78%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-79 {
    width: 79%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-80 {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-81 {
    width: 81%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-82 {
    width: 82%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-83 {
    width: 83%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-84 {
    width: 84%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-85 {
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-86 {
    width: 86%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-87 {
    width: 87%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-88 {
    width: 88%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-89 {
    width: 89%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-90 {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-91 {
    width: 91%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-92 {
    width: 92%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-93 {
    width: 93%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-94 {
    width: 94%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-95 {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-96 {
    width: 96%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-97 {
    width: 97%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-98 {
    width: 98%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-99 {
    width: 99%;
  }
}
@media screen and (max-width: 600px) {
  .w-s-100 {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-1 {
    width: 1%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-2 {
    width: 2%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-3 {
    width: 3%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-4 {
    width: 4%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-5 {
    width: 5%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-6 {
    width: 6%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-7 {
    width: 7%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-8 {
    width: 8%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-9 {
    width: 9%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-10 {
    width: 10%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-11 {
    width: 11%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-12 {
    width: 12%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-13 {
    width: 13%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-14 {
    width: 14%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-15 {
    width: 15%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-16 {
    width: 16%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-17 {
    width: 17%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-18 {
    width: 18%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-19 {
    width: 19%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-20 {
    width: 20%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-21 {
    width: 21%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-22 {
    width: 22%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-23 {
    width: 23%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-24 {
    width: 24%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-25 {
    width: 25%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-26 {
    width: 26%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-27 {
    width: 27%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-28 {
    width: 28%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-29 {
    width: 29%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-30 {
    width: 30%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-31 {
    width: 31%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-32 {
    width: 32%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-33 {
    width: 33%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-34 {
    width: 34%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-35 {
    width: 35%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-36 {
    width: 36%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-37 {
    width: 37%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-38 {
    width: 38%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-39 {
    width: 39%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-40 {
    width: 40%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-41 {
    width: 41%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-42 {
    width: 42%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-43 {
    width: 43%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-44 {
    width: 44%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-45 {
    width: 45%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-46 {
    width: 46%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-47 {
    width: 47%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-48 {
    width: 48%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-49 {
    width: 49%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-50 {
    width: 50%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-51 {
    width: 51%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-52 {
    width: 52%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-53 {
    width: 53%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-54 {
    width: 54%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-55 {
    width: 55%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-56 {
    width: 56%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-57 {
    width: 57%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-58 {
    width: 58%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-59 {
    width: 59%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-60 {
    width: 60%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-61 {
    width: 61%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-62 {
    width: 62%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-63 {
    width: 63%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-64 {
    width: 64%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-65 {
    width: 65%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-66 {
    width: 66%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-67 {
    width: 67%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-68 {
    width: 68%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-69 {
    width: 69%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-70 {
    width: 70%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-71 {
    width: 71%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-72 {
    width: 72%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-73 {
    width: 73%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-74 {
    width: 74%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-75 {
    width: 75%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-76 {
    width: 76%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-77 {
    width: 77%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-78 {
    width: 78%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-79 {
    width: 79%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-80 {
    width: 80%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-81 {
    width: 81%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-82 {
    width: 82%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-83 {
    width: 83%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-84 {
    width: 84%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-85 {
    width: 85%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-86 {
    width: 86%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-87 {
    width: 87%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-88 {
    width: 88%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-89 {
    width: 89%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-90 {
    width: 90%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-91 {
    width: 91%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-92 {
    width: 92%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-93 {
    width: 93%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-94 {
    width: 94%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-95 {
    width: 95%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-96 {
    width: 96%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-97 {
    width: 97%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-98 {
    width: 98%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-99 {
    width: 99%;
  }
}
@media screen and (max-width: 1080px) {
  .w-m-100 {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-1 {
    width: 1%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-2 {
    width: 2%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-3 {
    width: 3%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-4 {
    width: 4%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-5 {
    width: 5%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-6 {
    width: 6%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-7 {
    width: 7%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-8 {
    width: 8%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-9 {
    width: 9%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-10 {
    width: 10%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-11 {
    width: 11%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-12 {
    width: 12%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-13 {
    width: 13%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-14 {
    width: 14%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-15 {
    width: 15%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-16 {
    width: 16%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-17 {
    width: 17%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-18 {
    width: 18%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-19 {
    width: 19%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-20 {
    width: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-21 {
    width: 21%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-22 {
    width: 22%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-23 {
    width: 23%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-24 {
    width: 24%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-25 {
    width: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-26 {
    width: 26%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-27 {
    width: 27%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-28 {
    width: 28%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-29 {
    width: 29%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-30 {
    width: 30%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-31 {
    width: 31%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-32 {
    width: 32%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-33 {
    width: 33%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-34 {
    width: 34%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-35 {
    width: 35%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-36 {
    width: 36%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-37 {
    width: 37%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-38 {
    width: 38%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-39 {
    width: 39%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-40 {
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-41 {
    width: 41%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-42 {
    width: 42%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-43 {
    width: 43%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-44 {
    width: 44%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-45 {
    width: 45%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-46 {
    width: 46%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-47 {
    width: 47%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-48 {
    width: 48%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-49 {
    width: 49%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-50 {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-51 {
    width: 51%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-52 {
    width: 52%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-53 {
    width: 53%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-54 {
    width: 54%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-55 {
    width: 55%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-56 {
    width: 56%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-57 {
    width: 57%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-58 {
    width: 58%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-59 {
    width: 59%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-60 {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-61 {
    width: 61%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-62 {
    width: 62%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-63 {
    width: 63%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-64 {
    width: 64%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-65 {
    width: 65%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-66 {
    width: 66%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-67 {
    width: 67%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-68 {
    width: 68%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-69 {
    width: 69%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-70 {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-71 {
    width: 71%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-72 {
    width: 72%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-73 {
    width: 73%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-74 {
    width: 74%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-75 {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-76 {
    width: 76%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-77 {
    width: 77%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-78 {
    width: 78%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-79 {
    width: 79%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-80 {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-81 {
    width: 81%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-82 {
    width: 82%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-83 {
    width: 83%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-84 {
    width: 84%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-85 {
    width: 85%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-86 {
    width: 86%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-87 {
    width: 87%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-88 {
    width: 88%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-89 {
    width: 89%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-90 {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-91 {
    width: 91%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-92 {
    width: 92%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-93 {
    width: 93%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-94 {
    width: 94%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-95 {
    width: 95%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-96 {
    width: 96%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-97 {
    width: 97%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-98 {
    width: 98%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-99 {
    width: 99%;
  }
}
@media screen and (max-width: 1200px) {
  .w-l-100 {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-1 {
    width: 1%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-2 {
    width: 2%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-3 {
    width: 3%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-4 {
    width: 4%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-5 {
    width: 5%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-6 {
    width: 6%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-7 {
    width: 7%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-8 {
    width: 8%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-9 {
    width: 9%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-10 {
    width: 10%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-11 {
    width: 11%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-12 {
    width: 12%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-13 {
    width: 13%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-14 {
    width: 14%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-15 {
    width: 15%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-16 {
    width: 16%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-17 {
    width: 17%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-18 {
    width: 18%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-19 {
    width: 19%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-20 {
    width: 20%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-21 {
    width: 21%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-22 {
    width: 22%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-23 {
    width: 23%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-24 {
    width: 24%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-25 {
    width: 25%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-26 {
    width: 26%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-27 {
    width: 27%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-28 {
    width: 28%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-29 {
    width: 29%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-30 {
    width: 30%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-31 {
    width: 31%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-32 {
    width: 32%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-33 {
    width: 33%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-34 {
    width: 34%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-35 {
    width: 35%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-36 {
    width: 36%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-37 {
    width: 37%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-38 {
    width: 38%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-39 {
    width: 39%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-40 {
    width: 40%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-41 {
    width: 41%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-42 {
    width: 42%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-43 {
    width: 43%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-44 {
    width: 44%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-45 {
    width: 45%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-46 {
    width: 46%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-47 {
    width: 47%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-48 {
    width: 48%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-49 {
    width: 49%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-50 {
    width: 50%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-51 {
    width: 51%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-52 {
    width: 52%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-53 {
    width: 53%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-54 {
    width: 54%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-55 {
    width: 55%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-56 {
    width: 56%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-57 {
    width: 57%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-58 {
    width: 58%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-59 {
    width: 59%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-60 {
    width: 60%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-61 {
    width: 61%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-62 {
    width: 62%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-63 {
    width: 63%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-64 {
    width: 64%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-65 {
    width: 65%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-66 {
    width: 66%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-67 {
    width: 67%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-68 {
    width: 68%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-69 {
    width: 69%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-70 {
    width: 70%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-71 {
    width: 71%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-72 {
    width: 72%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-73 {
    width: 73%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-74 {
    width: 74%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-75 {
    width: 75%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-76 {
    width: 76%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-77 {
    width: 77%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-78 {
    width: 78%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-79 {
    width: 79%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-80 {
    width: 80%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-81 {
    width: 81%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-82 {
    width: 82%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-83 {
    width: 83%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-84 {
    width: 84%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-85 {
    width: 85%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-86 {
    width: 86%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-87 {
    width: 87%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-88 {
    width: 88%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-89 {
    width: 89%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-90 {
    width: 90%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-91 {
    width: 91%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-92 {
    width: 92%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-93 {
    width: 93%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-94 {
    width: 94%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-95 {
    width: 95%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-96 {
    width: 96%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-97 {
    width: 97%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-98 {
    width: 98%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-99 {
    width: 99%;
  }
}
@media screen and (max-width: 1440px) {
  .w-xl-100 {
    width: 100%;
  }
}
/*# sourceMappingURL=size.css.map */