@use '../globals.scss' as *;

* {
    box-sizing: border-box;
}

@for $width from 1 to $namedSizeMax {
    .w-#{$width} {
        width:$width * $base;
    };
    .w-min-#{$width} {
        min-width:$width * $base;
    };
    .hover-w-#{$width}:hover {
        width: calc($width * $base);
    };
}

@for $height from 1 to $namedSizeMax {
    .h-#{$height} {
        height:$height * $base;
    };
    .hover-h-#{$height}:hover {
        height: calc($height * $base);
    };
}

@for $width from $namedSizeMax to 101 {
    .w-#{$width} {
        width: calc($width * 1%);
    };
    .hover-w-#{$width}:hover {
        width: calc($width * 1%);
    };
}

@for $height from $namedSizeMax to 101 {
    .h-#{$height} {
        height: calc($height * 1%);
    };
    .hover-h-#{$height}:hover {
        height: calc($height * 1%);
    };
}

@for $vh from 1 to 101 {
    .vh-#{$vh} {
        height: calc($vh * 1vh);
    };
}

@for $border from 1 to 10 {
    .border-#{$border} {
        border: calc(1px * $border) solid;
    }
    .border-top-#{$border} {
        border-top: calc(1px * $border) solid;
    }
    .border-bottom-#{$border} {
        border-bottom: calc(1px * $border) solid;
    }
    .border-left-#{$border} {
        border-left: calc(1px * $border) solid;
    }
    .border-right-#{$border} {
        border-right: calc(1px * $border) solid;
    }
}

@for $radius from 1 to 10 {
    .border-radius-#{$radius} {
        border-radius: calc($base / 2) * $radius;
    }
}

.border-radius-full {
    border-radius: 9999px;
}

// Media Queries

@each $name, $value in $breakpoints {
    @for $width from 1 to 101 {
        @media screen and (max-width: $value) {
            .w-#{$name}-#{$width} {
                width: calc($width * 1%);
            };
        }
    }
};