@import '../globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,96,468,79,-203,738,514,712&display=swap');
@font-face {
    font-family: "Roboto Flex";
    src: url('../../fonts/roboto-flex/roboto-flex.ttf');
    font-weight: 100 1000;
}

* {
    font-family: "Roboto Flex", sans-serif;
}

// Variable Font Classes

@for $weight from 100 through 1001 {
    .font-weight-#{$weight} {
        font-weight: $weight;
    }
    .hover-font-weight-#{$weight}:hover {
        font-weight: $weight;
    }
}

@for $width from 25 through 152 {
    .font-width-#{$width} {
        font-variation-settings: "wdth" $width;
    }
    .hover-font-width-#{$width}:hover {
        font-variation-settings: "wdth" $width;
    }
}

@for $slant from 0 through 11 {
    .font-slant-#{$slant} {
        font-variation-settings: "slnt" - $slant;
    }
    .hover-font-slant-#{$slant}:hover {
        font-variation-settings: "slnt" $slant;
    }
}

@for $width from 25 through 152 {
  @for $slant from 0 through 11 {
    .font-width-#{$width}.font-slant-#{$slant} {
      font-variation-settings: "wdth" $width, "slnt" -$slant;
    }
    .hover-font-width-#{$width}.hover-font-slant-#{$slant}:hover {
      font-variation-settings: "wdth" $width, "slnt" -$slant;
    }
  }
}

// Buckle up, kids.. This is where I do the size and leading thing
// Font Size and Leading

@for $header from 1 through 6 {
    h#{7-$header} {
        font-size: $header * $step * $base;
        line-height: ($header) * $step * $base + ($base / 2);
    }
}

.font-size-1 {
    font-size: $base;
    line-height: $base * $step + ($base / 2);
}

.font-leading-1 {
    line-height: $base * $step + ($base / 2);
}

@for $size from 2 through 11 {
    .font-size-#{$size} {
        font-size: ($size - 1) * $step * $base;
        line-height: ($size - 1) * $step * $base + ($base / 2);
    }
    .hover-font-size-#{$size}:hover {
        font-size: ($size - 1) * $step * $base;
        line-height: ($size - 1) * $step * $base + ($base / 2);
    }
}

@for $lh from 2 through 11 {
    .font-leading-#{$lh} {
        line-height: $lh * $step * $base;
    }
    .hover-font-leading-#{$lh}:hover {
        line-height: $lh * $step * $base;
    }
}