$colors: (
    primary: rgb(255,0,120),
    secondary: rgb(40,0,255),
    albedo-primary: rgb(255,245,245),
    albedo-secondary: rgb(245,245,255),
    absoroption-primary: rgb(15,0,0),
    absoroption-secondary: rgb(0,0,15),
    primary-tint: rgb(255,239,236),
    primary-shade: rgb(64,0,30),
    secondary-tint: rgb(229,219,255),
    secondary-shade: rgb(10,0,64),
);

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }

  .hover-text-#{$name}:hover {
    color: $value;
  }

  .bg-#{$name} {
    background-color: $value;
  }

  .hover-bg-#{$name}:hover {
    background-color: $value;
  }
}