@use '../globals.scss' as globals;

@each $name, $value in globals.$colors {
  .text-#{$name} {
    color: $value;
  }

  .hover-text-#{$name}:hover {
    color: $value;
  }

  .bg-#{$name} {
    background-color: $value;
  }

  .border-#{$name} {
    border-color: $value;
  }

  .hover-bg-#{$name}:hover {
    background-color: $value;
  }

  .hover-border-#{$name}:hover {
    border-color: $value;
  }

}

a {
  color:inherit;
  text-decoration: inherit;
}

@for $value from 1 through 101 {
  .opacity-#{$value} {
    opacity: calc($value / 100);
  }
}