$colors: (
    primary: rgb(255,0,120),
    secondary: rgb(40,0,255),
    primary-albedo: rgb(255,245,245),
    secondary-albedo: rgb(245,245,255),
    primary-absorption: rgb(15,0,0),
    secondary-absorption: rgb(0,0,15),
    primary-tint: rgb(255,239,236),
    primary-shade: rgb(64,0,30),
    secondary-tint: rgb(229,219,255),
    secondary-shade: rgb(10,0,64),
);

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }

  .hover-text-#{$name}:hover {
    color: $value;
  }

  .bg-#{$name} {
    background-color: $value;
  }

  .border-#{$name} {
    border-color: $value;
  }

  .hover-bg-#{$name}:hover {
    background-color: $value;
  }

  .hover-border-#{$name}:hover {
    border-color: $value;
  }

}

@for $value from 1 through 101 {
  .opacity-#{$value} {
    opacity: $value / 100;
  }
}